/packer/variables.json

*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
infra-263911-09aeca87af1f.json
jdauphant.nginx
vault.key
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
